<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Cards</title>
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/logo.svg">
            </div>
            <div class="logo_titulo">Invento</div>
        </div>
        <div class="header_menu">
            <img src="../storage/img/logoMenu.svg" alt="">
        </div>
    </header>

    <main class="main">
        <h3 class="mainTitle1">Investing Tips</h3>
        <section class="mainBanner">
            <div class="bannerPublic">
                <div class="publicLogo">
                    <div> 1 </div>
                    <img src="../storage/img/iconoPig.svg">
                </div>

                <div class="publicDescription">
                    <div class="divButton">
                        <i class='bx bx-x-circle'></i>
                    </div>
                    <p>What is an ETF?</p>
                    <small>By James B, PHD</small>
                    <button>LEARN MORE</button>
                </div>
            </div>
        </section>
        <h3 class="mainTitle2">My Cards(4)</h3>
        <section class="mainCard">
            <article class="cardItem">
                <small>**** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
            <article class="cardItem">
                <small>**** 5789</small>
                <h2><sub>$</sub>584,800</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cardItem">
                <small>**** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
            <article class="cardItem">
                <small>**** 5789</small>
                <h2><sub>$</sub>584,800</h2>
                <img src="../storage/img/visa.svg">
            </article>
        
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="/storage/img/icon1.svg" alt=""></a>
            </li>
            <li>
                <a href="/views/balance.html"><img src="/storage/img/icon2.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="/storage/img/icon3.svg" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="/storage/img/icon4.svg" alt=""></a>
            </li>
            <li>
                <a href="/index.html"><img src="/storage/img/icon5.svg" alt=""></a>
            </li>
        </ul>
    </footer>
</body>
</html>